<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="HH\StoreLocator\Model\ResourceModel\Stores\CollectionFactory">
        <arguments>
            <argument name="entityFactory" xsi:type="object">Magento\Framework\EntityManager\EntityFactory</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Controller\Result\JsonFactory">
        <arguments>
            <argument name="objectManager" xsi:type="object">Magento\Framework\ObjectManagerInterface</argument>
        </arguments>
    </type>
</config>
